<nav id="navbarUI" ui-view="navbar"></nav>

<section class="site-container">

		<div class="left-column">

			<div class="sticky-column">
				<div class="line"></div>
				<h1>Arturo Wibawa</h1>
				<h3><a target="_blank" href="aw-resume-2016.pdf">Download My Résumé.</a></h3>
				<p class="section-header">Skill Set</p>
				<h3><span class="bold">Design in</span> – Adobe CC · Photoshop · Illustrator · After Effects · InDesign · Lightroom</h3>
				<h3><span class="bold">Protoype in</span> – Sketch 3 · Principle App · Invision</h3>
				<h3><span class="bold">Code in</span> – Sublime Text 3 · HTML · CSS/SCSS · Javascript · Angular · Jquery</h3>
				<h3><span class="bold">Values</span> – Self-Motivated · Organized · Ability to meet deadlines · Good Communication</h3>
				<h3><span class="bold">Learning</span> – 3D with Cinema 4D</h3>
			</div>

		</div>

		<div class="right-column">

			<p class="section-header">Work Experience</p>
			<div class="exp-sections">
				<h2>Wonderful Collective</h2>
				<h4>Lead Designer · 2014 - 2016</h4>
				<div class="line"></div>
				<h3>
				Design lead in web and mobile application design. Responsible for concepting, wireframing, prototyping, client management and QA'd various native iOS apps as well as responsive websites and web apps.<br>
				<a target="_blank" class="space" href="http://www.letsgetwonderful.com">Visit Wonderful Collective</a>
				</h3>
			</div>
			<div class="exp-sections">
				<h2>Column Five</h2>
				<h4>Visual Designer · 2012 - 2014</h4>
				<div class="line"></div>
				<h3>
				Worked as a visual designer creating thought provoking data visualizations for various clients. I have worked on infographics, motion and web design with companies like Intuit, Good Magazine, Honeywell, Demandforce, General Electric and Marketo. <br>
				<a target="_blank" class="space" href="http://www.columnfivemedia.com">Visit Column Five</a>
				</h3>
			</div>
			<div class="exp-sections">
				<h2>Cal Poly Pomona Office of Admissions</h2>
				<h4>Graphic Designer · 2011</h4>
				<div class="line"></div>
				<h3>
				Responsible for marketing and promotional materials that was given by the executive marketing director. The tasks consist of developing flash emails, designed brochures/invitations, website maintenance, and branding.
				</h3>
			</div>

			<p class="section-header">Education</p>
			<div class="exp-sections">
				<h2>California State Polytechnic University, Pomona</h2>
				<h4>
				Bachelor of Fine Arts · class of 2011
				<br>
				Bachelor of Science · class of 2011
				</h4>
				<h3>
				Majored in Graphic Design and Marketing Management.
				</h3>
			</div>

		</div>

</section>

<footer id="footerUI" ui-view="footer"></footer>


<script>
	window.sr = ScrollReveal();

	sr.reveal('.left-column', {
		duration: 800,
		distance: '120px',
		scale: 1,
		mobile: false,
	});
	sr.reveal('.right-column', {
		duration: 800,
		delay: 500,
		distance: '120px',
		scale: 1,
		mobile: false,
	});
</script>