<div class="row">

	<div class="social">

		<ul>
			<li><a href="https://www.behance.net/arturowibawa" target="blank_"><i class="fa fa-behance fa-lg"></i></a></li>
			<li><a href="https://github.com/Artcoholic" target="blank_"><i class="fa fa-github fa-lg"></i></a></li>
			<li><a href="https://www.linkedin.com/in/arturowibawa" target="blank_"><i class="fa fa-linkedin fa-lg"></i></a></li>
			<li><a href="https://dribbble.com/artcoholic" target="blank_"><i class="fa fa-dribbble fa-lg"></i></a></li>
			<li><a href="https://twitter.com/agwibawa" target="blank_"><i class="fa fa-twitter fa-lg"></i></a></li>
		</ul>

		<span class="thunderbolt">Made with <i class="fa fa-bolt fa-lg"></i> in mind</span>

	</div>

	<a class="contact" href="mailto:agwibawa@gmail.com">
		<div class="col-md-4 footer-right">
			Come Say Hi!
		</div>
	</a>

</div>