<!-- Work Header -->
<section class="work-post-jumbotron">
	<div class="site-container">
		<h1>{{ post.header }}</h1>
		<h2>{{ post.client }}</h2>
	</div>
	<img ng-src="{{ post.imageUrl[0] }}">
</section>

<!-- Work descriptions -->
<section class="work-description">

	<div class="site-container">
		<div class="row">

			<div class="two push-down">
				<h4>— Project Type</h4>
				<h2>{{ post.type }}</h2>
			</div>

			<div class="eight push-down">
				<h4>— The Challenge</h4>
				<h3>{{ post.description }}</h3>
			</div>

			<div class="two">
				<h4>— In The Wild</h4>
				<a class="btn solid-btn" href="{{ post.link }}" ng-click="link" target="_blank">View Online <i class="fa fa-chevron-right"></i></a>
			</div>

		</div>
	</div>

</section>

<!-- Work Content -->
<section class="case-study">

	<div class="site-container">
		
		<!-- intro image -->
		<div class="row">
			<section class="large twelve"><img ng-src="{{post.imageUrl[1]}}"></section>
		</div>
		
		<!-- approach copy -->
		<div class="row offset">
			<h1>The Approach</h1>
			<h3>{{ post.approach }}</h3>
		</div>
		
		<!-- wireframes -->
		<div class="row">
			<section class="twelve"><img ng-src="{{post.imageUrl[2]}}"></section>
		</div>

		<div class="row">
			<section class="six"><img ng-src="{{post.imageUrl[3]}}"></section>
			<section class="six"><img ng-src="{{post.imageUrl[4]}}"></section>
		</div>

		<!-- color pallete and fonts -->
		<div class="row offset">
			<h1>Collor Palettes and Fonts</h1>
		</div>

		<div class="row">
			<section class="twelve"><img ng-src="{{post.imageUrl[5]}}"></section>
		</div>

		<div class="row">
			<section class="six"><img ng-src="{{post.imageUrl[6]}}"></section>
			<section class="six"><img ng-src="{{post.imageUrl[7]}}"></section>
		</div>
		
		<!-- final product -->
		<div class="row offset">
			<h1>The Result</h1>
		</div>

		<div class="row">
			<section class="twelve"><img ng-src="{{post.imageUrl[8]}}"></section>
		</div>
		
		<!-- footer -->
		<div class="row offset">
			<h1>— Thanks For Watching —</h1>
			<a class="btn hollow-btn previous-btn" ui-sref="work-post({ workId:prevWork })"><i class="fa fa-chevron-left"></i> <span class="hide">Prev</span></a>
			<a class="btn solid-btn back-home" href="/">Back to home</a>
			<a class="btn hollow-btn next-btn" ui-sref="work-post({ workId:nextWork })"><span class="hide">next</span> <i class="fa fa-chevron-right"></i></a>
		</div>

	</div>	

</section>

<script>
	window.sr = ScrollReveal();

	sr.reveal('.row', {
		duration: 800,
		distance: '120px',
		scale: 1,
		mobile: false,
	});
</script>