<div id="navbarUI" ui-view="navbar"></div>

<!-- Work Header -->
<div class="jumbotron text-center work-post-jumbotron">
	<h1>{{ post.header }}</h1>
	<img ng-src="{{ post.imageUrl[0] }}">
</div>

<!-- Work descriptions -->
<div class="container-fluid work-description">

	<div class="row">

		<div class="col-md-2 push-down">
			<p>— Client</p>
			<h2>{{ post.client }}</h2>
		</div>

		<div class="col-md-2 push-down">
			<p>— Project Type</p>
			<h2>{{ post.type }}</h2>
		</div>

		<div class="col-md-6 push-down">
			<p>— Project Description</p>
			<h3>{{ post.description }}</h3>
		</div>

		<div class="col-md-2">
			<p>— In The Wild</p>
			<a class="solid-btn" href="{{ post.link }}" ng-click="link" target="_blank">View Here <i class="fa fa-chevron-right"></i></a>
		</div>

	</div>

</div>

<!-- Work Images -->
<div class="content-container">

	<div class="container-fluid work-images padding-60">

		<div class="row">
			<div class="proj-img col-md-12">
				<img ng-src="{{post.imageUrl[5]}}">
			</div>
		</div>

		<div class="row">
			<div class="proj-img col-md-6">
				<img class="cover" ng-src="{{post.imageUrl[1]}}">
			</div>
			<div class="proj-img col-md-6">
				<img class="cover" ng-src="{{post.imageUrl[2]}}">
			</div>
		</div>

		<div class="row">
			<div class="proj-img col-md-6">
				<img class="cover" ng-src="{{post.imageUrl[3]}}">
			</div>
			<div class="proj-img col-md-6">
				<img class="cover" ng-src="{{post.imageUrl[4]}}">
			</div>
		</div>

	</div>

</div>
	
<a class="back-to-gallery" ui-sref="work">
		<span class="square1"></span>
		<span class="square2"></span>
</a>

<div id="footerUI" ui-view="footer"></div>