<nav id="navbarUI" ui-view="navbar"></nav>

<section class="work-jumbotron">

	<h1>Under Construction</h1>

</section>

<section id="primary-container">

	<div class="row">
			
		<article ng-repeat="work in posts">

			<div class="content">

				<div class="project-thumb">
					<a ui-sref="work-post({ workId: work.id })"><img class="cover" ng-src="{{work.imageUrl}}"></a>
				</div>

				<div class="description">
					<span class="circle {{ work.bullet }}"></span>
					<h4> {{work.snippet}} </h4>
					<a ui-sref="work-post({ workId: work.id })"><h2> {{work.title}} </h2></a>
				</div>

			</div>

		</article>
			
	</div>

</section>

<footer id="footerUI" ui-view="footer"></footer>