footer {
	@include outer-container(100%);
	font-size: 1.4rem;
	text-align: center;

	.row {
		@include span-columns(12);
	}

	.social {
		@include span-columns(12 of 12);
		background-color: $black;
		padding: 22px 30px;
		margin-right: 0;

		ul {
			padding: 0;
			display: inline-block;

			li {
				display: inline-block;
				margin-right: 15px;

				a {
					color: $grey;
					font-weight: $regular;
					text-transform: uppercase;
					letter-spacing: 1px;

					&:hover {
						color: white;
					}

					.fa {
						@include respond-to(sm-screens) { display: none; }
						@include respond-to(md-screens) { display: none; }
						@include respond-to(lg-screens) { display: none; }
					}

					.hide {
						display: none;
						@include respond-to(sm-screens) { display: inline-block; }
						@include respond-to(md-screens) { display: inline-block; }
						@include respond-to(lg-screens) { display: inline-block; }
					}
				}
			}
		}

		.fa-bolt {
			color: $blue;
		}	
	}
}