nav {
	background-color: white;
	@include outer-container(100%);
	padding: 0px 30px;
	@include respond-to(md-screens) { padding: 11px 30px }
	@include respond-to(lg-screens) { padding: 11px 30px }
	border-bottom: $light-border;
	@include fix-to-top;
	@include transition(top 0.5s cubic-bezier(0.5, 0, 0, 1));

	.site-container {
		@include outer-container(100%);

		.logo {
			display: inline-block;
			width: 55px;
			@include respond-to(md-screens) { width: 60px; }
			@include respond-to(lg-screens) { width: 60px; }
			padding: 10px;
			margin-left: -10px;

			svg {
				margin-bottom: -1px;
			}
		}

		ul.nav {
			display: inline-block;
			@include center(false,true);
			right: 0;

			li {
				display: inline-block;
				margin-right: 30px;
				text-transform: uppercase;

				a {
					font-size: 1.2rem;
					color: $grey;
					font-weight: $bold;
					padding-bottom: 5px;
					@include respond-to(all-screens) { font-size: 1.6rem; }
				}

				.current {
					color: $black;
					border-bottom: 1px dotted $black;
				}
			}
		}
	}
}

.nav-up {
	top: -53px;
	@include respond-to(md-screens) { top: -80px; }
	@include respond-to(lg-screens) { top: -80px; }
}