section.work-post-jumbotron {
	@include jumbotron;
	overflow: hidden;
	position: relative;
	margin-top: 52px;
	z-index: -999;
	@include respond-to(md-screens) { position: fixed; top: 0; left: 0; height: 500px; width: 100%; margin-top: 0; }
	@include respond-to(lg-screens) { position: fixed; top: 0; left: 0; height: 500px; width: 100%; margin-top: 0; }
	@include respond-to(xl-screens) { position: fixed; top: 0; left: 50%; height: 500px; width: 100%; margin-top: 0; margin-left: -($max-width/2); }

	h1 {
		@include center;
		width: 90%;
		@include respond-to(md-screens) { margin-top: 40px }
		@include respond-to(lg-screens) { margin-top: 42.5px }
	}

	img {
		width: 100%;
		margin-bottom: -2px;
	}
}

section.work-description {
	@include outer-container(100%);
	background-color: white;
	padding: 15px;
	border-bottom: $grey-border;
	@include transition(all 0.3s 0.2s);
	
	@include respond-to(sm-screens) { padding: 30px; }
	@include respond-to(md-screens) { margin-top: 500px; padding-top: 30px; padding-bottom: 30px; }
	@include respond-to(lg-screens) { margin-top: 500px; padding-top: 30px; padding-bottom: 30px; }

	.site-container {
		max-width: 1170px;
		margin: auto;
	}

	.row {
		@include span-columns(12 of 12);

		.quarter {
			width: 100%;
			float: left;
			@include respond-to(md-screens) { width: 2 / 12 * 100%; padding-left: 15px; padding-right: 15px; }
			@include respond-to(lg-screens) { width: 2 / 12 * 100%; padding-left: 15px; padding-right: 15px; }

			.fa-chevron-right {
				@include respond-to(md-screens) { display: none; }
			}
		}

		.half {
			width: 100%;
			float: left;
			@include respond-to(md-screens) { width: 6 / 12 * 100%; }
			@include respond-to(lg-screens) { width: 6 / 12 * 100%; }
		}
	}
}

section.work-images {
	@include outer-container(100%);
	background-color: $bg-color;

	img {
		width: 100%;
		margin-bottom: -3px;
	}

	.site-container {
		max-width: 1170px;
		margin: auto;
	}

	.row {
		@include span-columns(12 of 12);

		.full {
			width: 100%;
			// @include respond-to(sm-screens) { padding: 30px; }
			// @include respond-to(md-screens) { padding: 30px; }
			// @include respond-to(lg-screens) { padding: 60px; }

			img {
				// border-radius: 2px;
				// box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
				// @include respond-to(sm-screens) { border-radius: 4px; }
				// @include respond-to(md-screens) { border-radius: 4px; }
				// @include respond-to(lg-screens) { border-radius: 4px; }
			}
		}
		.half {
			width: 100%;
			float: left;
			@include respond-to(sm-screens) { width: 50%; }
			@include respond-to(md-screens) { width: 50%; }
			@include respond-to(lg-screens) { width: 25%; }
		}
	}
}
